/* Force default dark styles */

:root {
	--face-highlight-lighter: rgba(46, 81, 122, 1);
	--face-highlight-more-lighter: rgba(45, 64, 92, 1);
	--face-highlight-more-more-lighter: rgba(44, 53, 71, 1);
	--face-gradient-start-active: rgba(43, 42, 51, 0.4);
	--face-gradient-start-inactive: rgba(43, 42, 51, 0.2);
	--face-gradient-end: rgba(43, 42, 51, 0);
}

:root {
	--browser-background: #1c1b22;
	--browser-bg-base: rgba(43, 42, 51, 1);
	--browser-bg-less-lighter: rgba(54, 53, 61, 1);
	--browser-bg-lighter: rgba(64, 63, 71, 1);
	--browser-bg-more-lighter: rgba(96, 95, 102, 1);
	--browser-bg-lightest: rgba(128, 127, 133, 1);
	--browser-bg-less-darker: rgba(39, 38, 46, 1);
	--browser-bg-darker: rgba(32, 32, 38, 1);
	--browser-bg-more-darker: rgba(22, 21, 26, 1);
	--browser-fg: #fbfbfe;
	--browser-fg-active: rgb(251, 251, 254);
	--browser-border: rgba(251, 251, 254, 0.4);
	--browser-tab-highlighter: transparent;
	--theme-colors-frame: #1c1b22;
	--theme-colors-frame-10: rgba(28, 27, 34, 0.1);
	--theme-colors-frame-20: rgba(28, 27, 34, 0.2);
	--theme-colors-frame-30: rgba(28, 27, 34, 0.3);
	--theme-colors-frame-40: rgba(28, 27, 34, 0.4);
	--theme-colors-frame-50: rgba(28, 27, 34, 0.5);
	--theme-colors-frame-60: rgba(28, 27, 34, 0.6);
	--theme-colors-frame-70: rgba(28, 27, 34, 0.7);
	--theme-colors-frame-80: rgba(28, 27, 34, 0.8);
	--theme-colors-frame-90: rgba(28, 27, 34, 0.9);
	--theme-colors-icons: rgb(251,251,254);
	--theme-colors-icons-10: rgba(251, 251, 254, 0.1);
	--theme-colors-icons-20: rgba(251, 251, 254, 0.2);
	--theme-colors-icons-30: rgba(251, 251, 254, 0.3);
	--theme-colors-icons-40: rgba(251, 251, 254, 0.4);
	--theme-colors-icons-50: rgba(251, 251, 254, 0.5);
	--theme-colors-icons-60: rgba(251, 251, 254, 0.6);
	--theme-colors-icons-70: rgba(251, 251, 254, 0.7);
	--theme-colors-icons-80: rgba(251, 251, 254, 0.8);
	--theme-colors-icons-90: rgba(251, 251, 254, 0.9);
	--theme-colors-ntp_background: #2A2A2E;
	--theme-colors-ntp_background-10: rgba(42, 42, 46, 0.1);
	--theme-colors-ntp_background-20: rgba(42, 42, 46, 0.2);
	--theme-colors-ntp_background-30: rgba(42, 42, 46, 0.3);
	--theme-colors-ntp_background-40: rgba(42, 42, 46, 0.4);
	--theme-colors-ntp_background-50: rgba(42, 42, 46, 0.5);
	--theme-colors-ntp_background-60: rgba(42, 42, 46, 0.6);
	--theme-colors-ntp_background-70: rgba(42, 42, 46, 0.7);
	--theme-colors-ntp_background-80: rgba(42, 42, 46, 0.8);
	--theme-colors-ntp_background-90: rgba(42, 42, 46, 0.9);
	--theme-colors-ntp_text: rgb(251, 251, 254);
	--theme-colors-ntp_text-10: rgba(251, 251, 254, 0.1);
	--theme-colors-ntp_text-20: rgba(251, 251, 254, 0.2);
	--theme-colors-ntp_text-30: rgba(251, 251, 254, 0.3);
	--theme-colors-ntp_text-40: rgba(251, 251, 254, 0.4);
	--theme-colors-ntp_text-50: rgba(251, 251, 254, 0.5);
	--theme-colors-ntp_text-60: rgba(251, 251, 254, 0.6);
	--theme-colors-ntp_text-70: rgba(251, 251, 254, 0.7);
	--theme-colors-ntp_text-80: rgba(251, 251, 254, 0.8);
	--theme-colors-ntp_text-90: rgba(251, 251, 254, 0.9);
	--theme-colors-popup: rgb(66,65,77);
	--theme-colors-popup-10: rgba(66, 65, 77, 0.1);
	--theme-colors-popup-20: rgba(66, 65, 77, 0.2);
	--theme-colors-popup-30: rgba(66, 65, 77, 0.3);
	--theme-colors-popup-40: rgba(66, 65, 77, 0.4);
	--theme-colors-popup-50: rgba(66, 65, 77, 0.5);
	--theme-colors-popup-60: rgba(66, 65, 77, 0.6);
	--theme-colors-popup-70: rgba(66, 65, 77, 0.7);
	--theme-colors-popup-80: rgba(66, 65, 77, 0.8);
	--theme-colors-popup-90: rgba(66, 65, 77, 0.9);
	--theme-colors-popup_border: rgb(82,82,94);
	--theme-colors-popup_border-10: rgba(82, 82, 94, 0.1);
	--theme-colors-popup_border-20: rgba(82, 82, 94, 0.2);
	--theme-colors-popup_border-30: rgba(82, 82, 94, 0.3);
	--theme-colors-popup_border-40: rgba(82, 82, 94, 0.4);
	--theme-colors-popup_border-50: rgba(82, 82, 94, 0.5);
	--theme-colors-popup_border-60: rgba(82, 82, 94, 0.6);
	--theme-colors-popup_border-70: rgba(82, 82, 94, 0.7);
	--theme-colors-popup_border-80: rgba(82, 82, 94, 0.8);
	--theme-colors-popup_border-90: rgba(82, 82, 94, 0.9);
	--theme-colors-popup_highlight: rgb(43,42,51);
	--theme-colors-popup_highlight-10: rgba(43, 42, 51, 0.1);
	--theme-colors-popup_highlight-20: rgba(43, 42, 51, 0.2);
	--theme-colors-popup_highlight-30: rgba(43, 42, 51, 0.3);
	--theme-colors-popup_highlight-40: rgba(43, 42, 51, 0.4);
	--theme-colors-popup_highlight-50: rgba(43, 42, 51, 0.5);
	--theme-colors-popup_highlight-60: rgba(43, 42, 51, 0.6);
	--theme-colors-popup_highlight-70: rgba(43, 42, 51, 0.7);
	--theme-colors-popup_highlight-80: rgba(43, 42, 51, 0.8);
	--theme-colors-popup_highlight-90: rgba(43, 42, 51, 0.9);
	--theme-colors-popup_text: rgb(251,251,254);
	--theme-colors-popup_text-10: rgba(251, 251, 254, 0.1);
	--theme-colors-popup_text-20: rgba(251, 251, 254, 0.2);
	--theme-colors-popup_text-30: rgba(251, 251, 254, 0.3);
	--theme-colors-popup_text-40: rgba(251, 251, 254, 0.4);
	--theme-colors-popup_text-50: rgba(251, 251, 254, 0.5);
	--theme-colors-popup_text-60: rgba(251, 251, 254, 0.6);
	--theme-colors-popup_text-70: rgba(251, 251, 254, 0.7);
	--theme-colors-popup_text-80: rgba(251, 251, 254, 0.8);
	--theme-colors-popup_text-90: rgba(251, 251, 254, 0.9);
	--theme-colors-sidebar: #38383D;
	--theme-colors-sidebar-10: rgba(56, 56, 61, 0.1);
	--theme-colors-sidebar-20: rgba(56, 56, 61, 0.2);
	--theme-colors-sidebar-30: rgba(56, 56, 61, 0.3);
	--theme-colors-sidebar-40: rgba(56, 56, 61, 0.4);
	--theme-colors-sidebar-50: rgba(56, 56, 61, 0.5);
	--theme-colors-sidebar-60: rgba(56, 56, 61, 0.6);
	--theme-colors-sidebar-70: rgba(56, 56, 61, 0.7);
	--theme-colors-sidebar-80: rgba(56, 56, 61, 0.8);
	--theme-colors-sidebar-90: rgba(56, 56, 61, 0.9);
	--theme-colors-sidebar_border: rgba(255, 255, 255, 0.1);
	--theme-colors-sidebar_border-10: rgba(255, 255, 255, 0.1);
	--theme-colors-sidebar_border-20: rgba(255, 255, 255, 0.2);
	--theme-colors-sidebar_border-30: rgba(255, 255, 255, 0.3);
	--theme-colors-sidebar_border-40: rgba(255, 255, 255, 0.4);
	--theme-colors-sidebar_border-50: rgba(255, 255, 255, 0.5);
	--theme-colors-sidebar_border-60: rgba(255, 255, 255, 0.6);
	--theme-colors-sidebar_border-70: rgba(255, 255, 255, 0.7);
	--theme-colors-sidebar_border-80: rgba(255, 255, 255, 0.8);
	--theme-colors-sidebar_border-90: rgba(255, 255, 255, 0.9);
	--theme-colors-sidebar_text: rgb(249, 249, 250);
	--theme-colors-sidebar_text-10: rgba(249, 249, 250, 0.1);
	--theme-colors-sidebar_text-20: rgba(249, 249, 250, 0.2);
	--theme-colors-sidebar_text-30: rgba(249, 249, 250, 0.3);
	--theme-colors-sidebar_text-40: rgba(249, 249, 250, 0.4);
	--theme-colors-sidebar_text-50: rgba(249, 249, 250, 0.5);
	--theme-colors-sidebar_text-60: rgba(249, 249, 250, 0.6);
	--theme-colors-sidebar_text-70: rgba(249, 249, 250, 0.7);
	--theme-colors-sidebar_text-80: rgba(249, 249, 250, 0.8);
	--theme-colors-sidebar_text-90: rgba(249, 249, 250, 0.9);
	--theme-colors-tab_background_text: #fbfbfe;
	--theme-colors-tab_background_text-10: rgba(251, 251, 254, 0.1);
	--theme-colors-tab_background_text-20: rgba(251, 251, 254, 0.2);
	--theme-colors-tab_background_text-30: rgba(251, 251, 254, 0.3);
	--theme-colors-tab_background_text-40: rgba(251, 251, 254, 0.4);
	--theme-colors-tab_background_text-50: rgba(251, 251, 254, 0.5);
	--theme-colors-tab_background_text-60: rgba(251, 251, 254, 0.6);
	--theme-colors-tab_background_text-70: rgba(251, 251, 254, 0.7);
	--theme-colors-tab_background_text-80: rgba(251, 251, 254, 0.8);
	--theme-colors-tab_background_text-90: rgba(251, 251, 254, 0.9);
	--theme-colors-tab_line: transparent;
	--theme-colors-tab_line-10: rgba(0, 0, 0, 0.1);
	--theme-colors-tab_line-20: rgba(0, 0, 0, 0.2);
	--theme-colors-tab_line-30: rgba(0, 0, 0, 0.3);
	--theme-colors-tab_line-40: rgba(0, 0, 0, 0.4);
	--theme-colors-tab_line-50: rgba(0, 0, 0, 0.5);
	--theme-colors-tab_line-60: rgba(0, 0, 0, 0.6);
	--theme-colors-tab_line-70: rgba(0, 0, 0, 0.7);
	--theme-colors-tab_line-80: rgba(0, 0, 0, 0.8);
	--theme-colors-tab_line-90: rgba(0, 0, 0, 0.9);
	--theme-colors-tab_selected: rgb(66,65,77);
	--theme-colors-tab_selected-10: rgba(66, 65, 77, 0.1);
	--theme-colors-tab_selected-20: rgba(66, 65, 77, 0.2);
	--theme-colors-tab_selected-30: rgba(66, 65, 77, 0.3);
	--theme-colors-tab_selected-40: rgba(66, 65, 77, 0.4);
	--theme-colors-tab_selected-50: rgba(66, 65, 77, 0.5);
	--theme-colors-tab_selected-60: rgba(66, 65, 77, 0.6);
	--theme-colors-tab_selected-70: rgba(66, 65, 77, 0.7);
	--theme-colors-tab_selected-80: rgba(66, 65, 77, 0.8);
	--theme-colors-tab_selected-90: rgba(66, 65, 77, 0.9);
	--theme-colors-tab_text: rgb(251,251,254);
	--theme-colors-tab_text-10: rgba(251, 251, 254, 0.1);
	--theme-colors-tab_text-20: rgba(251, 251, 254, 0.2);
	--theme-colors-tab_text-30: rgba(251, 251, 254, 0.3);
	--theme-colors-tab_text-40: rgba(251, 251, 254, 0.4);
	--theme-colors-tab_text-50: rgba(251, 251, 254, 0.5);
	--theme-colors-tab_text-60: rgba(251, 251, 254, 0.6);
	--theme-colors-tab_text-70: rgba(251, 251, 254, 0.7);
	--theme-colors-tab_text-80: rgba(251, 251, 254, 0.8);
	--theme-colors-tab_text-90: rgba(251, 251, 254, 0.9);
	--theme-colors-toolbar: rgb(43,42,51);
	--theme-colors-toolbar-10: rgba(43, 42, 51, 0.1);
	--theme-colors-toolbar-20: rgba(43, 42, 51, 0.2);
	--theme-colors-toolbar-30: rgba(43, 42, 51, 0.3);
	--theme-colors-toolbar-40: rgba(43, 42, 51, 0.4);
	--theme-colors-toolbar-50: rgba(43, 42, 51, 0.5);
	--theme-colors-toolbar-60: rgba(43, 42, 51, 0.6);
	--theme-colors-toolbar-70: rgba(43, 42, 51, 0.7);
	--theme-colors-toolbar-80: rgba(43, 42, 51, 0.8);
	--theme-colors-toolbar-90: rgba(43, 42, 51, 0.9);
	--theme-colors-toolbar_bottom_separator: hsl(240, 5%, 5%);
	--theme-colors-toolbar_bottom_separator-10: rgba(12, 12, 13, 0.1);
	--theme-colors-toolbar_bottom_separator-20: rgba(12, 12, 13, 0.2);
	--theme-colors-toolbar_bottom_separator-30: rgba(12, 12, 13, 0.3);
	--theme-colors-toolbar_bottom_separator-40: rgba(12, 12, 13, 0.4);
	--theme-colors-toolbar_bottom_separator-50: rgba(12, 12, 13, 0.5);
	--theme-colors-toolbar_bottom_separator-60: rgba(12, 12, 13, 0.6);
	--theme-colors-toolbar_bottom_separator-70: rgba(12, 12, 13, 0.7);
	--theme-colors-toolbar_bottom_separator-80: rgba(12, 12, 13, 0.8);
	--theme-colors-toolbar_bottom_separator-90: rgba(12, 12, 13, 0.9);
	--theme-colors-toolbar_field: rgb(28,27,34);
	--theme-colors-toolbar_field-10: rgba(28, 27, 34, 0.1);
	--theme-colors-toolbar_field-20: rgba(28, 27, 34, 0.2);
	--theme-colors-toolbar_field-30: rgba(28, 27, 34, 0.3);
	--theme-colors-toolbar_field-40: rgba(28, 27, 34, 0.4);
	--theme-colors-toolbar_field-50: rgba(28, 27, 34, 0.5);
	--theme-colors-toolbar_field-60: rgba(28, 27, 34, 0.6);
	--theme-colors-toolbar_field-70: rgba(28, 27, 34, 0.7);
	--theme-colors-toolbar_field-80: rgba(28, 27, 34, 0.8);
	--theme-colors-toolbar_field-90: rgba(28, 27, 34, 0.9);
	--theme-colors-toolbar_field_border: transparent;
	--theme-colors-toolbar_field_border-10: rgba(0, 0, 0, 0.1);
	--theme-colors-toolbar_field_border-20: rgba(0, 0, 0, 0.2);
	--theme-colors-toolbar_field_border-30: rgba(0, 0, 0, 0.3);
	--theme-colors-toolbar_field_border-40: rgba(0, 0, 0, 0.4);
	--theme-colors-toolbar_field_border-50: rgba(0, 0, 0, 0.5);
	--theme-colors-toolbar_field_border-60: rgba(0, 0, 0, 0.6);
	--theme-colors-toolbar_field_border-70: rgba(0, 0, 0, 0.7);
	--theme-colors-toolbar_field_border-80: rgba(0, 0, 0, 0.8);
	--theme-colors-toolbar_field_border-90: rgba(0, 0, 0, 0.9);
	--theme-colors-toolbar_field_focus: rgb(66,65,77);
	--theme-colors-toolbar_field_focus-10: rgba(66, 65, 77, 0.1);
	--theme-colors-toolbar_field_focus-20: rgba(66, 65, 77, 0.2);
	--theme-colors-toolbar_field_focus-30: rgba(66, 65, 77, 0.3);
	--theme-colors-toolbar_field_focus-40: rgba(66, 65, 77, 0.4);
	--theme-colors-toolbar_field_focus-50: rgba(66, 65, 77, 0.5);
	--theme-colors-toolbar_field_focus-60: rgba(66, 65, 77, 0.6);
	--theme-colors-toolbar_field_focus-70: rgba(66, 65, 77, 0.7);
	--theme-colors-toolbar_field_focus-80: rgba(66, 65, 77, 0.8);
	--theme-colors-toolbar_field_focus-90: rgba(66, 65, 77, 0.9);
	--theme-colors-toolbar_field_text: rgb(251,251,254);
	--theme-colors-toolbar_field_text-10: rgba(251, 251, 254, 0.1);
	--theme-colors-toolbar_field_text-20: rgba(251, 251, 254, 0.2);
	--theme-colors-toolbar_field_text-30: rgba(251, 251, 254, 0.3);
	--theme-colors-toolbar_field_text-40: rgba(251, 251, 254, 0.4);
	--theme-colors-toolbar_field_text-50: rgba(251, 251, 254, 0.5);
	--theme-colors-toolbar_field_text-60: rgba(251, 251, 254, 0.6);
	--theme-colors-toolbar_field_text-70: rgba(251, 251, 254, 0.7);
	--theme-colors-toolbar_field_text-80: rgba(251, 251, 254, 0.8);
	--theme-colors-toolbar_field_text-90: rgba(251, 251, 254, 0.9);
	--theme-colors-toolbar_text: rgb(251, 251, 254);
	--theme-colors-toolbar_text-10: rgba(251, 251, 254, 0.1);
	--theme-colors-toolbar_text-20: rgba(251, 251, 254, 0.2);
	--theme-colors-toolbar_text-30: rgba(251, 251, 254, 0.3);
	--theme-colors-toolbar_text-40: rgba(251, 251, 254, 0.4);
	--theme-colors-toolbar_text-50: rgba(251, 251, 254, 0.5);
	--theme-colors-toolbar_text-60: rgba(251, 251, 254, 0.6);
	--theme-colors-toolbar_text-70: rgba(251, 251, 254, 0.7);
	--theme-colors-toolbar_text-80: rgba(251, 251, 254, 0.8);
	--theme-colors-toolbar_text-90: rgba(251, 251, 254, 0.9);
	--theme-colors-toolbar_top_separator: transparent;
	--theme-colors-toolbar_top_separator-10: rgba(0, 0, 0, 0.1);
	--theme-colors-toolbar_top_separator-20: rgba(0, 0, 0, 0.2);
	--theme-colors-toolbar_top_separator-30: rgba(0, 0, 0, 0.3);
	--theme-colors-toolbar_top_separator-40: rgba(0, 0, 0, 0.4);
	--theme-colors-toolbar_top_separator-50: rgba(0, 0, 0, 0.5);
	--theme-colors-toolbar_top_separator-60: rgba(0, 0, 0, 0.6);
	--theme-colors-toolbar_top_separator-70: rgba(0, 0, 0, 0.7);
	--theme-colors-toolbar_top_separator-80: rgba(0, 0, 0, 0.8);
	--theme-colors-toolbar_top_separator-90: rgba(0, 0, 0, 0.9);
	--theme-colors-button: rgb(43,42,51);
	--theme-colors-button-10: rgba(43, 42, 51, 0.1);
	--theme-colors-button-20: rgba(43, 42, 51, 0.2);
	--theme-colors-button-30: rgba(43, 42, 51, 0.3);
	--theme-colors-button-40: rgba(43, 42, 51, 0.4);
	--theme-colors-button-50: rgba(43, 42, 51, 0.5);
	--theme-colors-button-60: rgba(43, 42, 51, 0.6);
	--theme-colors-button-70: rgba(43, 42, 51, 0.7);
	--theme-colors-button-80: rgba(43, 42, 51, 0.8);
	--theme-colors-button-90: rgba(43, 42, 51, 0.9);
	--theme-colors-button_hover: rgb(82,82,94);
	--theme-colors-button_hover-10: rgba(82, 82, 94, 0.1);
	--theme-colors-button_hover-20: rgba(82, 82, 94, 0.2);
	--theme-colors-button_hover-30: rgba(82, 82, 94, 0.3);
	--theme-colors-button_hover-40: rgba(82, 82, 94, 0.4);
	--theme-colors-button_hover-50: rgba(82, 82, 94, 0.5);
	--theme-colors-button_hover-60: rgba(82, 82, 94, 0.6);
	--theme-colors-button_hover-70: rgba(82, 82, 94, 0.7);
	--theme-colors-button_hover-80: rgba(82, 82, 94, 0.8);
	--theme-colors-button_hover-90: rgba(82, 82, 94, 0.9);
	--theme-colors-button_active: rgb(91,91,102);
	--theme-colors-button_active-10: rgba(91, 91, 102, 0.1);
	--theme-colors-button_active-20: rgba(91, 91, 102, 0.2);
	--theme-colors-button_active-30: rgba(91, 91, 102, 0.3);
	--theme-colors-button_active-40: rgba(91, 91, 102, 0.4);
	--theme-colors-button_active-50: rgba(91, 91, 102, 0.5);
	--theme-colors-button_active-60: rgba(91, 91, 102, 0.6);
	--theme-colors-button_active-70: rgba(91, 91, 102, 0.7);
	--theme-colors-button_active-80: rgba(91, 91, 102, 0.8);
	--theme-colors-button_active-90: rgba(91, 91, 102, 0.9);
	--theme-colors-button_primary: rgb(0, 221, 255);
	--theme-colors-button_primary-10: rgba(0, 221, 255, 0.1);
	--theme-colors-button_primary-20: rgba(0, 221, 255, 0.2);
	--theme-colors-button_primary-30: rgba(0, 221, 255, 0.3);
	--theme-colors-button_primary-40: rgba(0, 221, 255, 0.4);
	--theme-colors-button_primary-50: rgba(0, 221, 255, 0.5);
	--theme-colors-button_primary-60: rgba(0, 221, 255, 0.6);
	--theme-colors-button_primary-70: rgba(0, 221, 255, 0.7);
	--theme-colors-button_primary-80: rgba(0, 221, 255, 0.8);
	--theme-colors-button_primary-90: rgba(0, 221, 255, 0.9);
	--theme-colors-button_primary_hover: rgb(128, 235, 255);
	--theme-colors-button_primary_hover-10: rgba(128, 235, 255, 0.1);
	--theme-colors-button_primary_hover-20: rgba(128, 235, 255, 0.2);
	--theme-colors-button_primary_hover-30: rgba(128, 235, 255, 0.3);
	--theme-colors-button_primary_hover-40: rgba(128, 235, 255, 0.4);
	--theme-colors-button_primary_hover-50: rgba(128, 235, 255, 0.5);
	--theme-colors-button_primary_hover-60: rgba(128, 235, 255, 0.6);
	--theme-colors-button_primary_hover-70: rgba(128, 235, 255, 0.7);
	--theme-colors-button_primary_hover-80: rgba(128, 235, 255, 0.8);
	--theme-colors-button_primary_hover-90: rgba(128, 235, 255, 0.9);
	--theme-colors-button_primary_active: rgb(170, 242, 255);
	--theme-colors-button_primary_active-10: rgba(170, 242, 255, 0.1);
	--theme-colors-button_primary_active-20: rgba(170, 242, 255, 0.2);
	--theme-colors-button_primary_active-30: rgba(170, 242, 255, 0.3);
	--theme-colors-button_primary_active-40: rgba(170, 242, 255, 0.4);
	--theme-colors-button_primary_active-50: rgba(170, 242, 255, 0.5);
	--theme-colors-button_primary_active-60: rgba(170, 242, 255, 0.6);
	--theme-colors-button_primary_active-70: rgba(170, 242, 255, 0.7);
	--theme-colors-button_primary_active-80: rgba(170, 242, 255, 0.8);
	--theme-colors-button_primary_active-90: rgba(170, 242, 255, 0.9);
	--theme-colors-button_primary_color: rgb(43, 42, 51);
	--theme-colors-button_primary_color-10: rgba(43, 42, 51, 0.1);
	--theme-colors-button_primary_color-20: rgba(43, 42, 51, 0.2);
	--theme-colors-button_primary_color-30: rgba(43, 42, 51, 0.3);
	--theme-colors-button_primary_color-40: rgba(43, 42, 51, 0.4);
	--theme-colors-button_primary_color-50: rgba(43, 42, 51, 0.5);
	--theme-colors-button_primary_color-60: rgba(43, 42, 51, 0.6);
	--theme-colors-button_primary_color-70: rgba(43, 42, 51, 0.7);
	--theme-colors-button_primary_color-80: rgba(43, 42, 51, 0.8);
	--theme-colors-button_primary_color-90: rgba(43, 42, 51, 0.9);
	--theme-colors-checkbox_border_color: rgb(143, 143, 157);
	--theme-colors-checkbox_border_color-10: rgba(143, 143, 157, 0.1);
	--theme-colors-checkbox_border_color-20: rgba(143, 143, 157, 0.2);
	--theme-colors-checkbox_border_color-30: rgba(143, 143, 157, 0.3);
	--theme-colors-checkbox_border_color-40: rgba(143, 143, 157, 0.4);
	--theme-colors-checkbox_border_color-50: rgba(143, 143, 157, 0.5);
	--theme-colors-checkbox_border_color-60: rgba(143, 143, 157, 0.6);
	--theme-colors-checkbox_border_color-70: rgba(143, 143, 157, 0.7);
	--theme-colors-checkbox_border_color-80: rgba(143, 143, 157, 0.8);
	--theme-colors-checkbox_border_color-90: rgba(143, 143, 157, 0.9);
	--theme-colors-checkbox_unchecked_background: rgb(43, 42, 51);
	--theme-colors-checkbox_unchecked_background-10: rgba(43, 42, 51, 0.1);
	--theme-colors-checkbox_unchecked_background-20: rgba(43, 42, 51, 0.2);
	--theme-colors-checkbox_unchecked_background-30: rgba(43, 42, 51, 0.3);
	--theme-colors-checkbox_unchecked_background-40: rgba(43, 42, 51, 0.4);
	--theme-colors-checkbox_unchecked_background-50: rgba(43, 42, 51, 0.5);
	--theme-colors-checkbox_unchecked_background-60: rgba(43, 42, 51, 0.6);
	--theme-colors-checkbox_unchecked_background-70: rgba(43, 42, 51, 0.7);
	--theme-colors-checkbox_unchecked_background-80: rgba(43, 42, 51, 0.8);
	--theme-colors-checkbox_unchecked_background-90: rgba(43, 42, 51, 0.9);
	--theme-colors-checkbox_unchecked_background_hover: rgb(82, 82, 94);
	--theme-colors-checkbox_unchecked_background_hover-10: rgba(82, 82, 94, 0.1);
	--theme-colors-checkbox_unchecked_background_hover-20: rgba(82, 82, 94, 0.2);
	--theme-colors-checkbox_unchecked_background_hover-30: rgba(82, 82, 94, 0.3);
	--theme-colors-checkbox_unchecked_background_hover-40: rgba(82, 82, 94, 0.4);
	--theme-colors-checkbox_unchecked_background_hover-50: rgba(82, 82, 94, 0.5);
	--theme-colors-checkbox_unchecked_background_hover-60: rgba(82, 82, 94, 0.6);
	--theme-colors-checkbox_unchecked_background_hover-70: rgba(82, 82, 94, 0.7);
	--theme-colors-checkbox_unchecked_background_hover-80: rgba(82, 82, 94, 0.8);
	--theme-colors-checkbox_unchecked_background_hover-90: rgba(82, 82, 94, 0.9);
	--theme-colors-checkbox_unchecked_background_active: rgb(91, 91, 102);
	--theme-colors-checkbox_unchecked_background_active-10: rgba(91, 91, 102, 0.1);
	--theme-colors-checkbox_unchecked_background_active-20: rgba(91, 91, 102, 0.2);
	--theme-colors-checkbox_unchecked_background_active-30: rgba(91, 91, 102, 0.3);
	--theme-colors-checkbox_unchecked_background_active-40: rgba(91, 91, 102, 0.4);
	--theme-colors-checkbox_unchecked_background_active-50: rgba(91, 91, 102, 0.5);
	--theme-colors-checkbox_unchecked_background_active-60: rgba(91, 91, 102, 0.6);
	--theme-colors-checkbox_unchecked_background_active-70: rgba(91, 91, 102, 0.7);
	--theme-colors-checkbox_unchecked_background_active-80: rgba(91, 91, 102, 0.8);
	--theme-colors-checkbox_unchecked_background_active-90: rgba(91, 91, 102, 0.9);
	--theme-colors-checkbox_checked_background: rgb(0, 221, 255);
	--theme-colors-checkbox_checked_background-10: rgba(0, 221, 255, 0.1);
	--theme-colors-checkbox_checked_background-20: rgba(0, 221, 255, 0.2);
	--theme-colors-checkbox_checked_background-30: rgba(0, 221, 255, 0.3);
	--theme-colors-checkbox_checked_background-40: rgba(0, 221, 255, 0.4);
	--theme-colors-checkbox_checked_background-50: rgba(0, 221, 255, 0.5);
	--theme-colors-checkbox_checked_background-60: rgba(0, 221, 255, 0.6);
	--theme-colors-checkbox_checked_background-70: rgba(0, 221, 255, 0.7);
	--theme-colors-checkbox_checked_background-80: rgba(0, 221, 255, 0.8);
	--theme-colors-checkbox_checked_background-90: rgba(0, 221, 255, 0.9);
	--theme-colors-checkbox_checked_color: rgb(43, 42, 51);
	--theme-colors-checkbox_checked_color-10: rgba(43, 42, 51, 0.1);
	--theme-colors-checkbox_checked_color-20: rgba(43, 42, 51, 0.2);
	--theme-colors-checkbox_checked_color-30: rgba(43, 42, 51, 0.3);
	--theme-colors-checkbox_checked_color-40: rgba(43, 42, 51, 0.4);
	--theme-colors-checkbox_checked_color-50: rgba(43, 42, 51, 0.5);
	--theme-colors-checkbox_checked_color-60: rgba(43, 42, 51, 0.6);
	--theme-colors-checkbox_checked_color-70: rgba(43, 42, 51, 0.7);
	--theme-colors-checkbox_checked_color-80: rgba(43, 42, 51, 0.8);
	--theme-colors-checkbox_checked_color-90: rgba(43, 42, 51, 0.9);
	--theme-colors-checkbox_checked_background_hover: rgb(128, 235, 255);
	--theme-colors-checkbox_checked_background_hover-10: rgba(128, 235, 255, 0.1);
	--theme-colors-checkbox_checked_background_hover-20: rgba(128, 235, 255, 0.2);
	--theme-colors-checkbox_checked_background_hover-30: rgba(128, 235, 255, 0.3);
	--theme-colors-checkbox_checked_background_hover-40: rgba(128, 235, 255, 0.4);
	--theme-colors-checkbox_checked_background_hover-50: rgba(128, 235, 255, 0.5);
	--theme-colors-checkbox_checked_background_hover-60: rgba(128, 235, 255, 0.6);
	--theme-colors-checkbox_checked_background_hover-70: rgba(128, 235, 255, 0.7);
	--theme-colors-checkbox_checked_background_hover-80: rgba(128, 235, 255, 0.8);
	--theme-colors-checkbox_checked_background_hover-90: rgba(128, 235, 255, 0.9);
	--theme-colors-checkbox_checked_background_active: rgb(170, 242, 255);
	--theme-colors-checkbox_checked_background_active-10: rgba(170, 242, 255, 0.1);
	--theme-colors-checkbox_checked_background_active-20: rgba(170, 242, 255, 0.2);
	--theme-colors-checkbox_checked_background_active-30: rgba(170, 242, 255, 0.3);
	--theme-colors-checkbox_checked_background_active-40: rgba(170, 242, 255, 0.4);
	--theme-colors-checkbox_checked_background_active-50: rgba(170, 242, 255, 0.5);
	--theme-colors-checkbox_checked_background_active-60: rgba(170, 242, 255, 0.6);
	--theme-colors-checkbox_checked_background_active-70: rgba(170, 242, 255, 0.7);
	--theme-colors-checkbox_checked_background_active-80: rgba(170, 242, 255, 0.8);
	--theme-colors-checkbox_checked_background_active-90: rgba(170, 242, 255, 0.9);
	--theme-colors-error_text_color: rgb(255, 154, 162);
	--theme-colors-error_text_color-10: rgba(255, 154, 162, 0.1);
	--theme-colors-error_text_color-20: rgba(255, 154, 162, 0.2);
	--theme-colors-error_text_color-30: rgba(255, 154, 162, 0.3);
	--theme-colors-error_text_color-40: rgba(255, 154, 162, 0.4);
	--theme-colors-error_text_color-50: rgba(255, 154, 162, 0.5);
	--theme-colors-error_text_color-60: rgba(255, 154, 162, 0.6);
	--theme-colors-error_text_color-70: rgba(255, 154, 162, 0.7);
	--theme-colors-error_text_color-80: rgba(255, 154, 162, 0.8);
	--theme-colors-error_text_color-90: rgba(255, 154, 162, 0.9);
	--theme-colors-input_background: #42414D;
	--theme-colors-input_background-10: rgba(66, 65, 77, 0.1);
	--theme-colors-input_background-20: rgba(66, 65, 77, 0.2);
	--theme-colors-input_background-30: rgba(66, 65, 77, 0.3);
	--theme-colors-input_background-40: rgba(66, 65, 77, 0.4);
	--theme-colors-input_background-50: rgba(66, 65, 77, 0.5);
	--theme-colors-input_background-60: rgba(66, 65, 77, 0.6);
	--theme-colors-input_background-70: rgba(66, 65, 77, 0.7);
	--theme-colors-input_background-80: rgba(66, 65, 77, 0.8);
	--theme-colors-input_background-90: rgba(66, 65, 77, 0.9);
	--theme-colors-input_color: rgb(251,251,254);
	--theme-colors-input_color-10: rgba(251, 251, 254, 0.1);
	--theme-colors-input_color-20: rgba(251, 251, 254, 0.2);
	--theme-colors-input_color-30: rgba(251, 251, 254, 0.3);
	--theme-colors-input_color-40: rgba(251, 251, 254, 0.4);
	--theme-colors-input_color-50: rgba(251, 251, 254, 0.5);
	--theme-colors-input_color-60: rgba(251, 251, 254, 0.6);
	--theme-colors-input_color-70: rgba(251, 251, 254, 0.7);
	--theme-colors-input_color-80: rgba(251, 251, 254, 0.8);
	--theme-colors-input_color-90: rgba(251, 251, 254, 0.9);
	--theme-colors-input_border: #8f8f9d;
	--theme-colors-input_border-10: rgba(143, 143, 157, 0.1);
	--theme-colors-input_border-20: rgba(143, 143, 157, 0.2);
	--theme-colors-input_border-30: rgba(143, 143, 157, 0.3);
	--theme-colors-input_border-40: rgba(143, 143, 157, 0.4);
	--theme-colors-input_border-50: rgba(143, 143, 157, 0.5);
	--theme-colors-input_border-60: rgba(143, 143, 157, 0.6);
	--theme-colors-input_border-70: rgba(143, 143, 157, 0.7);
	--theme-colors-input_border-80: rgba(143, 143, 157, 0.8);
	--theme-colors-input_border-90: rgba(143, 143, 157, 0.9);
	--theme-colors-input_border_error: rgb(255, 132, 138);
	--theme-colors-input_border_error-10: rgba(255, 132, 138, 0.1);
	--theme-colors-input_border_error-20: rgba(255, 132, 138, 0.2);
	--theme-colors-input_border_error-30: rgba(255, 132, 138, 0.3);
	--theme-colors-input_border_error-40: rgba(255, 132, 138, 0.4);
	--theme-colors-input_border_error-50: rgba(255, 132, 138, 0.5);
	--theme-colors-input_border_error-60: rgba(255, 132, 138, 0.6);
	--theme-colors-input_border_error-70: rgba(255, 132, 138, 0.7);
	--theme-colors-input_border_error-80: rgba(255, 132, 138, 0.8);
	--theme-colors-input_border_error-90: rgba(255, 132, 138, 0.9);
	--theme-colors-zoom_controls: rgb(74,74,85);
	--theme-colors-zoom_controls-10: rgba(74, 74, 85, 0.1);
	--theme-colors-zoom_controls-20: rgba(74, 74, 85, 0.2);
	--theme-colors-zoom_controls-30: rgba(74, 74, 85, 0.3);
	--theme-colors-zoom_controls-40: rgba(74, 74, 85, 0.4);
	--theme-colors-zoom_controls-50: rgba(74, 74, 85, 0.5);
	--theme-colors-zoom_controls-60: rgba(74, 74, 85, 0.6);
	--theme-colors-zoom_controls-70: rgba(74, 74, 85, 0.7);
	--theme-colors-zoom_controls-80: rgba(74, 74, 85, 0.8);
	--theme-colors-zoom_controls-90: rgba(74, 74, 85, 0.9);
	--theme-colors-autocomplete_popup_separator: rgb(82,82,94);
	--theme-colors-autocomplete_popup_separator-10: rgba(82, 82, 94, 0.1);
	--theme-colors-autocomplete_popup_separator-20: rgba(82, 82, 94, 0.2);
	--theme-colors-autocomplete_popup_separator-30: rgba(82, 82, 94, 0.3);
	--theme-colors-autocomplete_popup_separator-40: rgba(82, 82, 94, 0.4);
	--theme-colors-autocomplete_popup_separator-50: rgba(82, 82, 94, 0.5);
	--theme-colors-autocomplete_popup_separator-60: rgba(82, 82, 94, 0.6);
	--theme-colors-autocomplete_popup_separator-70: rgba(82, 82, 94, 0.7);
	--theme-colors-autocomplete_popup_separator-80: rgba(82, 82, 94, 0.8);
	--theme-colors-autocomplete_popup_separator-90: rgba(82, 82, 94, 0.9);
	--theme-colors-appmenu_update_icon_color: #54FFBD;
	--theme-colors-appmenu_update_icon_color-10: rgba(84, 255, 189, 0.1);
	--theme-colors-appmenu_update_icon_color-20: rgba(84, 255, 189, 0.2);
	--theme-colors-appmenu_update_icon_color-30: rgba(84, 255, 189, 0.3);
	--theme-colors-appmenu_update_icon_color-40: rgba(84, 255, 189, 0.4);
	--theme-colors-appmenu_update_icon_color-50: rgba(84, 255, 189, 0.5);
	--theme-colors-appmenu_update_icon_color-60: rgba(84, 255, 189, 0.6);
	--theme-colors-appmenu_update_icon_color-70: rgba(84, 255, 189, 0.7);
	--theme-colors-appmenu_update_icon_color-80: rgba(84, 255, 189, 0.8);
	--theme-colors-appmenu_update_icon_color-90: rgba(84, 255, 189, 0.9);
	--theme-colors-appmenu_warning_icon_color: #FFBD4F;
	--theme-colors-appmenu_warning_icon_color-10: rgba(255, 189, 79, 0.1);
	--theme-colors-appmenu_warning_icon_color-20: rgba(255, 189, 79, 0.2);
	--theme-colors-appmenu_warning_icon_color-30: rgba(255, 189, 79, 0.3);
	--theme-colors-appmenu_warning_icon_color-40: rgba(255, 189, 79, 0.4);
	--theme-colors-appmenu_warning_icon_color-50: rgba(255, 189, 79, 0.5);
	--theme-colors-appmenu_warning_icon_color-60: rgba(255, 189, 79, 0.6);
	--theme-colors-appmenu_warning_icon_color-70: rgba(255, 189, 79, 0.7);
	--theme-colors-appmenu_warning_icon_color-80: rgba(255, 189, 79, 0.8);
	--theme-colors-appmenu_warning_icon_color-90: rgba(255, 189, 79, 0.9);
	--theme-colors-appmenu_info_icon_color: #80EBFF;
	--theme-colors-appmenu_info_icon_color-10: rgba(128, 235, 255, 0.1);
	--theme-colors-appmenu_info_icon_color-20: rgba(128, 235, 255, 0.2);
	--theme-colors-appmenu_info_icon_color-30: rgba(128, 235, 255, 0.3);
	--theme-colors-appmenu_info_icon_color-40: rgba(128, 235, 255, 0.4);
	--theme-colors-appmenu_info_icon_color-50: rgba(128, 235, 255, 0.5);
	--theme-colors-appmenu_info_icon_color-60: rgba(128, 235, 255, 0.6);
	--theme-colors-appmenu_info_icon_color-70: rgba(128, 235, 255, 0.7);
	--theme-colors-appmenu_info_icon_color-80: rgba(128, 235, 255, 0.8);
	--theme-colors-appmenu_info_icon_color-90: rgba(128, 235, 255, 0.9);
	--theme-colors-tab_icon_overlay_stroke: rgb(66,65,77);
	--theme-colors-tab_icon_overlay_stroke-10: rgba(66, 65, 77, 0.1);
	--theme-colors-tab_icon_overlay_stroke-20: rgba(66, 65, 77, 0.2);
	--theme-colors-tab_icon_overlay_stroke-30: rgba(66, 65, 77, 0.3);
	--theme-colors-tab_icon_overlay_stroke-40: rgba(66, 65, 77, 0.4);
	--theme-colors-tab_icon_overlay_stroke-50: rgba(66, 65, 77, 0.5);
	--theme-colors-tab_icon_overlay_stroke-60: rgba(66, 65, 77, 0.6);
	--theme-colors-tab_icon_overlay_stroke-70: rgba(66, 65, 77, 0.7);
	--theme-colors-tab_icon_overlay_stroke-80: rgba(66, 65, 77, 0.8);
	--theme-colors-tab_icon_overlay_stroke-90: rgba(66, 65, 77, 0.9);
	--theme-colors-tab_icon_overlay_fill: rgb(251,251,254);
	--theme-colors-tab_icon_overlay_fill-10: rgba(251, 251, 254, 0.1);
	--theme-colors-tab_icon_overlay_fill-20: rgba(251, 251, 254, 0.2);
	--theme-colors-tab_icon_overlay_fill-30: rgba(251, 251, 254, 0.3);
	--theme-colors-tab_icon_overlay_fill-40: rgba(251, 251, 254, 0.4);
	--theme-colors-tab_icon_overlay_fill-50: rgba(251, 251, 254, 0.5);
	--theme-colors-tab_icon_overlay_fill-60: rgba(251, 251, 254, 0.6);
	--theme-colors-tab_icon_overlay_fill-70: rgba(251, 251, 254, 0.7);
	--theme-colors-tab_icon_overlay_fill-80: rgba(251, 251, 254, 0.8);
	--theme-colors-tab_icon_overlay_fill-90: rgba(251, 251, 254, 0.9);
	--theme-properties-panel_hover: color-mix(in srgb, currentColor 9%, transparent);
	--theme-properties-panel_active: color-mix(in srgb, currentColor 14%, transparent);
	--theme-properties-panel_active_darker: color-mix(in srgb, currentColor 25%, transparent);
	--theme-properties-toolbar_field_icon_opacity: 1;
}








/* Actual user settings */

/* Hide close buttons on tabs. */
tab-item .closebox {
	visibility: collapse;
}

tab-item {
	--tab-surface: hsla(0, 0%, 100%, .05);
}

tab-item {
	border: none;
	outline: 1px solid hsla(0, 0%, 0%, 0.09);
	--tab-size: 38px !important;
	height: var(--tab-size);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 12px;
	padding: 0 0 0 14px !important;
	margin: 0;
}

tab-item.unread {
	opacity: .5;
}

tab-item.pinned {
	padding: unset !important;
}

.tabs::after {
	content: '';
	position: fixed;
	inset: 0;
	display: block;
	z-index: 999999999999999999;
	pointer-events: none;

	box-shadow: 
		inset 0 24px 38px  3px rgba(0,0,0,0.14),
		inset 0  9px 46px  8px rgba(0,0,0,0.12),
		inset 0 11px 15px -7px rgba(0,0,0,0.20),
		inset 0  2px  2px  0   rgba(0,0,0,0.14),
		inset 0  3px  1px -2px rgba(0,0,0,0.12),
		inset 0  1px  5px  0   rgba(0,0,0,0.20) !important;
}

tab-item.active:not(.pinned) {
	padding-right: 10px !important;
	margin-right: 2px !important;
}
tab-item.active {
	z-index: 100;
	box-shadow: 
		0 24px 38px  3px rgba(0,0,0,0.14),
		0  9px 46px  8px rgba(0,0,0,0.12),
		0 11px 15px -7px rgba(0,0,0,0.20),
		0  2px  2px  0   rgba(0,0,0,0.14),
		0  3px  1px -2px rgba(0,0,0,0.12),
		0  1px  5px  0   rgba(0,0,0,0.20) !important;
}

tab-item.active::after {
	width: 10px;
	background: currentcolor;
	opacity: .5;
	content: '';
	position: absolute;
	inset: 0;
	left: unset;
}

tab-item.active.pinned::after {
	width: 50%;
}

tab-item.active > :nth-child(8),
tab-item > :nth-child(8)::before,
tab-item > :nth-child(8)::after {
	display: none !important;
}
tab-item > tab-favicon {
	order: 1;
}
tab-item > tab-label {
	order: 2;
}
tab-item > tab-sound-button {
	grid-area: sound;
	order: 3;
}
tab-item > tab-counter {
	order: 4;
}
tab-item > tab-twisty {
	order: 99 !important;
	position: unset;
	display: block;
}
tab-item:not([data-child-ids]) tab-twisty,
tab-item.pinned tab-twisty,
tab-item.collapsed tab-twisty {
	display: none !important;
}
tab-item > * {
	margin: 0 !important;
	padding-inline: 0 !important;
}

.newtab-button::before {
	height: 12px;
	width: 12px;
	margin: 11px;
}

#tabbar {
	bottom: 36px !important;
}

tab-item::before {
	content: var(--overlay-content);
	background: var(--overlay-color);
	position: absolute;
	inset: 0;
}

tab-item[data-current-uri^="https://github.com"],
tab-item[data-current-uri^="https://gist.github.com"] {
	--overlay-content: '';
	--overlay-color: hsla(195, 100%, 70%, .15);
}
tab-item[data-current-uri^="https://api.flutter.dev"],
tab-item[data-current-uri^="https://pub.dev/documentation"],
tab-item[data-current-uri^="https://flutter.dev/docs"] {
	--overlay-content: '';
	--overlay-color: hsla(225, 60%, 50%, .15);
}
tab-item[data-current-uri^="https://stackoverflow.com"] {
	--overlay-content: '';
	--overlay-color: hsla(25, 100%, 25%, .15);
}
tab-item[data-current-uri^="about:"] {
	--overlay-content: '';
	--overlay-color: hsla(0, 0%, 0%, .35);
}
/*tab-item[data-current-uri^="https://www.google.com"],
tab-item[data-current-uri^="https://google.com"] {
	--overlay-content: '';
	--overlay-color: hsla(350, 100%, 22%, .15);
}*/