:root, window, page, dialog, wizard, toolbar, .cui-widget-panel, #widget-overflow {
	font-family: 'Google Sans', 'Open Sans', 'Noto Sans', 'Twemoji Mozilla', 'Twitter Emoji Color', 'Segoe UI Emoji';
	letter-spacing: .01rem;
}

:root, vbox, scrollbox {
	scrollbar-color: hsla(0, 0%, 100%, 0.1) transparent !important;
	scrollbar-width: thin !important;
}

:root {
	--acrylic-backdrop-filter: blur(10px);
	--acrylic-background-blend-mode: exclusion;
	--acrylic-background-image: url("chrome://global/skin/media/imagedoc-lightnoise.png");
}


.panel-arrowbox[part=arrowbox] {
	z-index: 999;
}

scrollbox {
	scroll-behavior: smooth;
	overflow-y: auto;
}

.scrollbutton-up[orient=vertical],
.scrollbutton-down[orient=vertical] {
	visibility: collapse !important;
}

scrollbar {
	scrollbar-color: hsla(0, 0%, 33%, 0.5) hsla(0, 0%, 0%, 0) !important;
	scrollbar-width: thin !important;
	background-color: hsla(0, 0%, 0%, 0.1);
	background-image: var(--acrylic-background-image) repeat repeat !important;
	backdrop-filter: var(--acrylic-backdrop-filter) !important;
	background-blend-mode: var(--acrylic-background-blend-mode) !important;
}

/*
			TREE STYLE TABS - START
*/

/* Reduce minimum width of the sidebar */
#sidebar {
  min-width: 100px !important;
}

/* Hide sidebar header when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
	visibility: collapse;
}

/*
			TREE STYLE TABS - END
*/



/*
			REMOVE TAB BAR - START
*/

#navigator-toolbox {
	position: relative !important;
}

:root[sizemode="maximized"][tabsintitlebar="true"] #navigator-toolbox {
	margin-top: 8px;
}

#toolbar-menubar,
#TabsToolbar > :not(.titlebar-buttonbox-container):not(.private-browsing-indicator) {
	visibility: collapse !important;
}

.private-browsing-indicator {
	background-size: 69%;
	margin-inline-end: 6px;
	opacity: 0.7;
}

/* Workaround v2 (Since #nav-bar is bad at laying out children (it doesnt respect ::after's width on small window widths), just make it get out of the way)*/
:root[tabsintitlebar="true"] #nav-bar {
	padding-right: max(150px, calc(100vw / 6.6)) !important;
}

#titlebar {
	-moz-appearance: none !important;
	position: absolute !important;
	inset: 2px;
	display: flex !important;
	align-items: center;
	justify-content: end;
	padding: 0 !important;

	pointer-events: none;
}

#titlebar > * {
	pointer-events: auto;
}

.titlebar-button {
    padding: 8px 13px !important;
}


/*
			REMOVE TAB BAR - END
*/

#navigator-toolbox:-moz-lwtheme {
	--tabs-border-color: rgba(0,0,0,.1) !important;
}

#nav-bar {
	padding: 2px !important;
	font-size: 10px !important;
}
#nav-bar-customization-target {
	padding-left: 5px !important;
}

#back-button,
#forward-button {
	padding: 0 !important;
}
#back-button > .toolbarbutton-icon {
	list-style-image: url("img/back.svg") !important;
}
#forward-button > .toolbarbutton-icon {
	list-style-image: url("img/forward.svg") !important;
}
#reload-button > .toolbarbutton-icon {
	list-style-image: url("img/reload.svg") !important;
}
#history-panelmenu {
	list-style-image: url("img/history.svg") !important;
}
#downloads-indicator-icon {
	list-style-image: url("img/downloads.svg") !important;
}
#bookmarks-menu-button > .toolbarbutton-icon {
	list-style-image: url("img/bookmarks.svg") !important;
}
#nav-bar-overflow-button > .toolbarbutton-icon {
	list-style-image: url("img/overflow.svg") !important;
}
#PanelUI-menu-button {
	list-style-image: url("img/menu.svg") !important;
}

#urlbar,
#searchbar {
	--urlbar-background: hsla(0, 0%, 0%, 0.025);
}
:root[lwthemetextcolor="bright"] #urlbar,
:root[lwthemetextcolor="bright"] #searchbar {
	--urlbar-background: hsla(0, 0%, 12%, 0.75);
}
#urlbar,
#searchbar {
	--urlbar-height: var(--urlbar-height, 30px); /* The browser should take care of this, but just incase, this is the default */
	--urlbar-toolbar-height: var(--urlbar-container-height) !important;
}

#searchbar {
	background: none !important;
	border: none !important;
	position: relative;
	box-shadow: none !important;
}

#searchbar > * {
    position: relative !important;
}

#searchbar::before {
    content: '';
	position: absolute !important;
    display: block;
    inset: 0;
    border-radius: var(--toolbarbutton-border-radius);
}

#urlbar > #urlbar-background,
#searchbar::before {
	background: var(--urlbar-background) !important;
	background-image: var(--acrylic-background-image) repeat repeat !important;
	backdrop-filter: var(--acrylic-backdrop-filter) !important;
	background-blend-mode: var(--acrylic-background-blend-mode) !important;
	box-shadow: none !important;
	--toolbarbutton-border-radius: calc(var(--urlbar-height, 30px) / 2);
	transition: border-color .15s ease;
	animation-duration: 150ms !important;
}

#urlbar:not([breakout-extend]) > #urlbar-background {
	border: transparent !important;
}

#urlbar-input-container,
#searchbar {
	--padding-inline: 14px;
	padding-inline: var(--padding-inline) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
	padding-inline: calc(var(--padding-inline) + 5px) !important;
}

:root {
	--urlbar-icon-size: 14px !important;
	--urlbar-icon-padding: 4px !important;
	--identity-box-margin-inline: 8px !important;
}

.sharing-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
.notification-anchor-icon,
#blocked-permissions-container > .blocked-permission-icon,
#tracking-protection-icon-box,
.searchbar-search-icon {
	width: var(--urlbar-icon-size) !important;
	height: unset !important;
	aspect-ratio: 1;
}

.searchbar-search-button[addengines="true"] > .searchbar-search-icon-overlay {
	width: 9px !important;
	height: unset !important;
	aspect-ratio: 1;
	margin: -4px 0 0 -13px !important;
}

.urlbar-icon {
    width: calc(14px + 2 * var(--urlbar-icon-padding)) !important;
    height: 100% !important;
}

.urlbarView-row-inner {
    padding-inline-start: calc(var(--urlbar-icon-size) + 2 * var(--urlbar-icon-padding) + var(--identity-box-margin-inline) - 15px) !important;
    border-radius: 8px !important;
}

.searchbar-search-button {
	margin-inline-end: var(--identity-box-margin-inline);
}

.searchbar-search-icon {
	margin: 0 !important;
}

#PopupSearchAutoComplete {
	margin-top: 6px !important;
	padding: 10px !important;
	box-shadow: inset 0 12px 11px -5px #00000030 !important;
}
.search-panel-current-engine {
	padding-bottom: 10px !important;
}
.search-panel-tree {
	display: grid !important;
	gap: 10px !important;
	padding: 10px 0 !important;
}
.search-one-offs {
	padding-top: 5px !important;
}
.search-panel-header {
	padding-bottom: 5px !important;
}
.search-panel-container {
	padding-bottom: 8px !important;
}

.bookmark-item > .menu-text,
.bookmark-item > .menu-iconic-text {
	margin-inline-start: 10px !important;
}